.section-facility {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.facility-des {
  width: 40%;
  border: 1px solid black;
  height: 100vh;
  position: relative;
}
.facility-fun {
  width: auto;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.heading-secondary {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */
  color: #000000;
  margin-left: 60px;
  margin-top: 100px;
}
.facility-para {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  margin-left: 60px;
  margin-top: 0px;
}
.btn-contact {
  background-color: #24ab70;
  border-radius: 280px;
  border: none;
  height: 56px;
  width: 164px;
  border-radius: 35px;
  /* padding: 16px 32px 16px 32px; */

  /* margin: 0px 55px 65px 0px; */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  /* identical to box height, or 150% */

  color: #ffffff;

  margin-left: 50px;
  margin-top: 40px;
}
.btn-contact:hover {
  background-color: #2c974b;
  cursor: pointer;
}
.btn-contact:focus {
  box-shadow: rgba(46, 164, 79, 0.4);
  outline: none;
}

.facility-service {
  position: relative;
  padding: 0;
  width: 193px;
  height: 193px;
}
.facility-icon {
  position: absolute;
  left: 50%;
  top: 45%;
  color: #24ab70;
  height: 30.23029327392578px;
  width: 39.99991989135742px;
  border-radius: 0px;
}
.icon-p {
  position: absolute;
  left: 1.12%;
  top: 58.05%;
}
