.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #ffff;
}
.logo-img {
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 30px;
}
.logo-name {
  font-family: open sans;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 25px;
  left: 75px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  text-transform: capitalize;
  padding: 20px 3px 0px 5px;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
}

.btn-login {
  background-color: #24ab70;
  border-radius: 35px;
  border: none;
  width: 76px;
  height: 40px;
  margin: 10px 25px 3px 0;
  font-family: open sans;
  font-size: 14px;
  line-height: 1.2;
}
.btn-login:hover {
  background-color: #2c974b;
  cursor: pointer;
}
.btn-login:focus {
  box-shadow: rgba(46, 164, 79, 0.4);
  outline: none;
}
